@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');html, body{
    height: 100%;
    margin: 0;
}
.bg{
    background-image: url(./assets/images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ee9b00;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: xx-large;
}
button{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
    background-color: #bb3e03;
}
button:hover{
    background-color: #e76f51;
}
a:link{
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
